body{
    background-attachment: fixed;
    background-size: cover;
}

  
  .sliding-background {
    background: url("resource/scroll_bg.jpg") repeat-y;
    height: 9000px;
    width: 73.52%;
    display: block;
    margin: auto;
    object-fit: fill;
  }

.header_img{
    position: relative;
    top: 0;
    left: 0;
  }
.title_img{
    position: absolute;
    top: 30px;
    left: 70px;
    margin-left: 10%;
    margin-top: 2%;   
  }

 .fb_logo{
    position: absolute;
    top: 43px;
    left: 790px;
    margin-left: 10%;
    margin-top: 2%;   
  }

.tw_logo{
    position: absolute;
    top: 43px;
    left: 850px;
    margin-left: 10%;
    margin-top: 2%;   
  }

.rss_logo{
    position: absolute;
    top: 43px;
    left: 910px;
    margin-left: 10%;
    margin-top: 2%;   
  }


/* styling the tab links */
/* tab1 */
.tablinks_home{
    margin-left: 2%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -3%; 
    font-size: 18px;
    color: #a09968;;
    font-weight: 700;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: absolute;
}
.tablinks_home:hover{
  color:aliceblue;
}

/* tab 2 */
.tablinks_gl{
    margin-left: 7.5%; 
    margin-top: -3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #a5a49a;
    font-weight: 700;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: absolute;
}
.tablinks_gl:hover{
  color: aliceblue;
}


/* tab 3 */
.tablinks_pcg{
    margin-left: 16.5%; 
    margin-top: -3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #a5a49a;
    font-weight: 700;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: absolute;
}
.tablinks_pcg:hover{
  color:aliceblue;
}


/* tab 4 */
.tablinks_pcre{
  margin-left: 24.5%; 
  margin-top: -3%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #a5a49a;
  font-weight: 700;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  position: absolute;
}
.tablinks_pcre:hover{
  color: aliceblue;
}

.untouched{
  color: #4d4b42;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1%;
  font-size: 13px;
}

/*********************    POSTS    *********************/

/*post 1*/
.post1{
  font-family:  Arial, Helvetica, sans-serif;
  margin-left: 3.5%;
  margin-top: -48%;
  font-size: 17px;
  color: #a09968;
  font-weight: 700;
}
.post1_txt{
  font-size: 13px;
  margin-top: 2%;
  color: #c2beaf; 
  font-family:  Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #58574e;
  margin-left: 4%;
  
}
.post1_img{
  margin-top: 3%;
  margin-left: 15.5%;
}

.post1_lnk{
  font-size: 12px;
  margin-left: 18.1%;
  margin-top: 1%;
  color: #c2beaf;
}

.post_bg{
  position: static;

}